@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
*{
    font-family: 'Gabarito', sans-serif;
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite; 
}